.header__login {
  background: #D0F1EF;
  border: 1px solid #458F94;
  border-right: none;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  text-decoration: none;
  text-align: center;
  line-height: 44px;
}
