.about__add-initiation {
  position: absolute;
  top: 400px;
  left: 61.5px;
  background: #FDFFAE;
  border: 1px solid #101010;
  box-sizing: border-box;
  border-radius: 8px;
  width:252px;
  height: 56px;
}