.footer__information {
  background: #D0F1EF;
  border: 2px solid #458F94;
  box-sizing: border-box;
  border-radius: 0 4px 4px 4px;
  height: 48px;
  border-left: none;
  text-align: center;
}
.footer__information:last-child {
  border-right: none;
}