@font-face{ 
  font-family: "FiraSans";
  font-style:  normal;
  font-weight: bold;
  src: url("./FiraSans-Bold.woff2") format("woff2"),
       url("./FiraSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "FiraSans";

  src: url("./FiraSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("./FiraSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}