@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../fonts/fonst.css);
@import url(../blocks/header/header.css);
@import url(../blocks/section/_type/section_type_narrow.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__avatar/header__avatar.css);
@import url(../blocks/header/__login/header__login.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__select-city/header__select-city.css);
@import url(../blocks/event/__date/event__date.css);
@import url(../blocks/event/__finde-closest/event__finde-closest.css);
@import url(../blocks/event/__image/event__image.css);
@import url(../blocks/event/__info-about/event__info-about.css);
@import url(../blocks/event/__links/event__links.css);
@import url(../blocks/event/__join/event__join.css);
@import url(../blocks/event/__more-info/event__more-info.css);
@import url(../blocks/event/__place/event__place.css);
@import url(../blocks/event/__text/event__text.css);
@import url(../blocks/event/__title/event__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__information/footer__information.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__social/footer__social.css);
@import url(../blocks/footer/__socials/footer__socials.css);
@import url(../blocks/footer/__text/footer__text.css);