@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../fonts/fonst.css);
@import url(../blocks/header/header.css);
@import url(../blocks/title/title.css);
@import url(../blocks/subtitle/subtitle.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__avatar/header__avatar.css);
@import url(../blocks/header/__login/header__login.css);
@import url(../blocks/header/__search/header__search.css);
@import url(../blocks/header/__select-city/header__select-city.css);
@import url(../blocks/section/section.css);
@import url(../blocks/section/_type/section_type_narrow.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__container/about__container.css);
@import url(../blocks/about/__add-initiation/about__add-initiation.css);
@import url(../blocks/about/__subtitle/about__subtitle.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__item/about__item.css);
@import url(../blocks/about/__image/about__image.css);
@import url(../blocks/create-initiation/__subtitle/create-initiation__subtitle.css);
@import url(../blocks/create-initiation/__title/create-initiation__title.css);
@import url(../blocks/create-initiation/__container/create-initiation__container.css);
@import url(../blocks/create-initiation/__add/create-initiation__add.css);
@import url(../blocks/result/result.css);
@import url(../blocks/result/__picture/result__picture.css);
@import url(../blocks/result/__gallery/result__gallery.css);
@import url(../blocks/contact/__button/contact__button.css);
@import url(../blocks/contact/__email/contact__email.css);
@import url(../blocks/contact/__form/contact__form.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__socials/footer__socials.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__social/footer__social.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__information/footer__information.css);
@import url(../blocks/footer/__container/footer__container.css);