.header__select-city {
  border-radius: 0;
  text-align: center;
  text-align-last: center;
  border: none;
  background-image: url(../../../images/Icon_city.svg);
  background-repeat: no-repeat;
  background-position-y: center;
}

