.create-initiation__add {
  background: #00C6AE;
  border: 1.46789px solid #1C1C1D;
  box-sizing: border-box;
  box-shadow: 0px 1.46789px 0px #202020;
  border-radius: 7.33945px;
  min-height: 80px;
}